<!-- Aqui estamos utilizando o *ngIf para verificar se há mensagens -->
<mat-accordion *ngIf="messageService.getMessages().length">

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Messages
            </mat-panel-title>
            <mat-panel-description>
                {{messageService.getMessages().length}} record(s)
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            <!-- Botão para limpar as mensagens -->
            <button color="warn" mat-raised-button (click)="messageService.clear()">Clear messages</button>
        </p>    

        <mat-list>
            <!-- Aqui estamos utilizando o *ngFor para iterar sobre as mensagens -->
            <mat-list-item *ngFor="let message of messageService.getMessages()">
                {{ message }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>